{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block css_link %}
<link rel="stylesheet" href="{% static 'users/main.css' %}">
<style>
#full-stars-example-two {
  /* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
}
#full-stars-example-two .rating-group {
  display: inline-flex;
  /* make hover effect work properly in IE */
}
#full-stars-example-two .rating__icon {
  pointer-events: none;
  /* hide radio inputs */
}
#full-stars-example-two .rating__input {
  position: absolute !important;
  left: -9999px !important;
  /* hide 'none' input from screenreaders */
}
#full-stars-example-two .rating__input--none {
  display: none;
  /* set icon padding and size */
}
#full-stars-example-two .rating__label {
  cursor: pointer;
  padding: 0 0.1em;
  font-size: 2rem;
  /* set default star color */
}
#full-stars-example-two .rating__icon--star {
  color: orange;
  /* if any input is checked, make its following siblings grey */
}
#full-stars-example-two .rating__input:checked ~ .rating__label .rating__icon--star {
  color: #ddd;
  /* make all stars orange on rating group hover */
}
#full-stars-example-two .rating-group:hover .rating__label .rating__icon--star {
  color: orange;
  /* make hovered input's following siblings grey on hover */
}
#full-stars-example-two .rating__input:hover ~ .rating__label .rating__icon--star {
  color: #ddd;
}


.checked{
        color: #FFAE02;
    }
</style>
{% endblock %}

{% block content %}
<div class="container profile">
    <div class="card mt-5" style="color: white; background:linear-gradient(135deg, #3d7b8a 0%,#1c4652 100%); border-radius: .75rem; border-color: linear-gradient(135deg, #3d7b8a 0%,#1c4652 100%); box-shadow: 0 6px 15px rgba(36, 37, 38, 0.5);">
        <div class="row no-gutters">
            <div class="col-md-2 px-4 py-4 text-center">
                <img src="{{ user.profile.image.url }}" class="img-fluid rounded-circle mx-auto d-block" alt="">
            </div>
            <div class="col">
                <div class="card-body px-4 text-center">
                    <h2 class="card-title mb-0">{{user.username}}</h2>
                    <p class="card-text pt-0">{{user.email}}</p>
                </div>
            </div>
        </div>
        <div class="card-footer w-100" style="font-size: 14px; border-top: 0;">
            <div class="row">
                <div class="col" id="seller_rating">Seller Rating:
                    {% if seller_rating > 0 %}
                    <!-- <span style="font-style: italic;"> -->
                        <span class="far fa-star"></span>
                        <span class="far fa-star"></span>
                        <span class="far fa-star"></span>
                        <span class="far fa-star"></span>
                        <span class="far fa-star"></span>
                        <span><span style="font-family: Arial, Helvetica, sans-serif">{{user.profile.total_seller_ratings}}</span> Ratings</span>
                    <!-- </span> -->
                    
                    {% else %}
                    <span style="font-style: italic;">
                        <span class="far fa-star"></span>
                        <span class="far fa-star"></span>
                        <span class="far fa-star"></span>
                        <span class="far fa-star"></span>
                        <span class="far fa-star"></span>
                        <span><span style="font-family: Arial, Helvetica, sans-serif">0</span> Ratings</span>
                    </span>
                    {% endif %}
                </div>

                <div class="col text-right buyer_rating" id="buyer_rating">Buyer Rating:
                    {% if buyer_rating > 0 %}
                    <span class="far fa-star"></span>
                    <span class="far fa-star"></span>
                    <span class="far fa-star"></span>
                    <span class="far fa-star"></span>
                    <span class="far fa-star"></span>
                    <span><span style="font-family: Arial, Helvetica, sans-serif">{{user.profile.total_buyer_ratings}}</span> Ratings</span>
                    {% else %}
                    <!-- <span style="font-style: italic;"> -->
                        <span class="far fa-star"></span>
                        <span class="far fa-star"></span>
                        <span class="far fa-star"></span>
                        <span class="far fa-star"></span>
                        <span class="far fa-star"></span>
                        <span><span style="font-family: Arial, Helvetica, sans-serif">0</span> Ratings</span>
                    <!-- </span> -->
                    {% endif %}

                    <!-- Script for coloring the stars dynamically based on the user's rating -->
                    <script>
                        let seller_rating = {{ seller_rating }}
                        let buyer_rating = {{ buyer_rating }}

                        let seller_ancestor = document.getElementById('seller_rating')
                        let seller_descendents = seller_ancestor.getElementsByTagName('*');

                        let buyer_ancestor = document.getElementById('buyer_rating')
                        let buyer_descendents = buyer_ancestor.getElementsByTagName('*');

                        // coloring seller rating star
                        for(let i = 0; i < seller_rating; i++){
                            element = seller_descendents[i]
                            // console.log(element)
                            element.setAttribute('class','fa fa-star checked')
                        }

                        // coloring buyer rating star
                        for(let i = 0; i < buyer_rating; i++){
                            element = buyer_descendents[i]
                            // console.log(element)
                            element.setAttribute('class','fa fa-star checked')
                        }
                    </script>

                </div>
            </div>
        </div>
    </div>

    <div class="row mt-1 ">
<div class="col-lg-8 col-md-12 col-sm-12">
    <div class="card pt-2 pb-4 pr-4 pl-4" style="color: white; background:linear-gradient(135deg, #46464b 0%,#212125 100%); border-color:linear-gradient(135deg, #46464b 0%,#212125 100%);   border-radius: .75rem; box-shadow: 0 6px 15px rgba(36, 37, 38, 0.5); margin-top: 50px;">
        <div class="row">
        
        <div class="col w-100" >
            <div class="card-body h-100">
                <h3 class="card-title mb-0 pt-4 pb-3">User Details</h3>
               <p class="card-text mt-1 mb-0 p-2"><i class="fas fa-user" style="margin-right: 10px;"></i>{{ user.first_name }} {{ user.last_name }}</p>
               <p class="card-text mt-1 mb-0 p-2"><i class="fas fa-envelope" style="margin-right: 10px;"></i> {{ user.email }}</p>
                <p class="card-text m-0 p-2"><i class="fas fa-home" style="margin-right: 10px;"></i> {{ user.profile.address }}</p>
                <p class="card-text m-0 p-2"><i class="fas fa-phone" style="margin-right: 10px;"></i> {{ user.profile.contact_no }}</p>
            </div>
        </div>
    </div>
    </div>
</div>
{% if user != request.user %}
<div class="col-lg-4 col-md-12 col-sm-12">
    <div class="card pt-2 pb-4 pr-4 pl-4" style="color: white; background:linear-gradient(135deg, #c28c5c 0%,#8f532f 100%); border-color: linear-gradient(135deg, #c28c5c 0%,#8f532f 100%); border-radius: .75rem; box-shadow: 0 6px 15px rgba(36, 37, 38, 0.5); margin-top: 50px;">
        <div class="row">
            <div class="col w-100">
                <div class="card-body h-100">
                    <h3 class="card-title mb-0 pt-4 pb-3">Rate This User:</h3>
                <form method="POST" action="">
                    {% csrf_token %}
                <select class="form-control form-control-sm w-100 mt-3" name="rating_class">
                    <option value="seller">Seller Rating</option>
                    <option value="buyer">Buyer Rating</option>
                </select>
                    <div id="full-stars-example-two" class="mt-3">
                        <div class="rating-group">
                            <input disabled checked class="rating__input rating__input--none" name="rating" id="rating3-none" value="0" type="radio">
                            <label aria-label="1 star" class="rating__label" for="rating3-1"><i class="rating__icon rating__icon--star far fa-star"></i></label>
                            <input class="rating__input" name="rating" id="rating3-1" value="1" type="radio">
                            <label aria-label="2 stars" class="rating__label" for="rating3-2"><i class="rating__icon rating__icon--star far fa-star"></i></label>
                            <input class="rating__input" name="rating" id="rating3-2" value="2" type="radio">
                            <label aria-label="3 stars" class="rating__label" for="rating3-3"><i class="rating__icon rating__icon--star far fa-star"></i></label>
                            <input class="rating__input" name="rating" id="rating3-3" value="3" type="radio">
                            <label aria-label="4 stars" class="rating__label" for="rating3-4"><i class="rating__icon rating__icon--star far fa-star"></i></label>
                            <input class="rating__input" name="rating" id="rating3-4" value="4" type="radio">
                            <label aria-label="5 stars" class="rating__label" for="rating3-5"><i class="rating__icon rating__icon--star far fa-star"></i></label>
                            <input class="rating__input" name="rating" id="rating3-5" value="5" type="radio">
                        </div>
                    </div>
                    <button class="btn btn-warning btn-sm mt-3 pl-5 pr-5">Rate</button>
                    </form>
                </div>
                </div> 
                </div>
    </div>
</div>

    {% endif %}

</div>

    <div class="row" style="margin-top: 150px;">
        <div class="col">
            <h1>{{ user.username }}'s Books</h1>
        </div>
    </div>
    {% if books %}
    <div class="row mt-5">
        {% for book in books %}
        <div class="col-lg-4 col-md-4 col-sm-12 mb-5">
            <div class="card"
                style="background-color: white; border-radius: .75rem; box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);">
                <img class="card-img-top img-responsive" style="height:100%;width:100%;" src="{{ book.cover.url }}"
                    alt="book cover">
                <div class="card-body">
                    <a href="{% url 'book-detail' book.id %}"
                        style="text-decoration: none; font-size: 18px; font-weight: 600; color: black;"
                        class="card-title">{{ book.title }}</a><br>
                    <small class="text-muted" style="font-size: 12px;"><i class="fas fa-user"></i> <span>{{ book.uploader }}</span></small><br><br>
                    <p class="card-text" style="font-size: 12px;">{{book.synopsis|truncatechars:100}}</p>
                    <p class="card-text"><small class="text-muted">Borrow Fee: <span
                                style="color: black; font-weight: 600; font-style: italic;">৳{{ book.price}}</span></small></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="row mt-5">
        <div class="col">
            <p class="text-muted text-center">{{user.username}} hasn't uploaded any books yet</p>
        </div>
    </div>
    {% endif %}

    

<script>
   function muFunc(event){
        event.preventDefault()
        console.log(event)
    }
</script>
{% endblock content %}