{% extends "main/base.html" %}
{% load static %}
{% block css_link %}
<link rel="stylesheet" href="{% static 'users/main.css' %}">
{% endblock %}

{% block content %}
<div class="card"
style="background-color: white; border-radius: .75rem; box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08); margin-top: 100px;">
<div class="row no-gutters">
    <div class="col-md-2 px-4 py-4 text-center pt-5 pb-2">
        <img src="{{ object.cover.url }}" class="img-fluid mx-auto d-block" alt="">
    </div>
    <div class="col pt-4 pb-2">
        <div class="card-body px-4">
            <h2 class="card-title mb-0">{{ object.title }}</h2><small class="text-muted"><span>uploaded at {{ object.upload_date|date:"F d, Y" }}</span></small>
            <p class="card-text mt-1 mb-0 p-1">Author: {{ object.authors }}</p>
            <p class="card-text m-0 p-1">Genre: {{ object.genre }}</p>
            <p class="card-text m-0 p-1">Publication: {{ object.publications }}</p>
            <h3 class="card-text mt-5">৳ {{ object.price }}</h3>
        </div>
    </div>
    <div class="col" >
        <div class="card-body h-100" style="background-color: #F6F6F6;">
            <h3 class="card-title mb-0 pt-4 pb-3">Lender Info</h3>
            <a href="{% url 'user_detail_view' username=book.uploader.username %}"><p class="card-text mt-1 mb-0 p-2"><i class="fas fa-user"></i> {{ object.uploader }}</p></a>
            
            <small class="text-muted p-2"><span>Lender Rating:
                {% if user.profile.seller_rating %}
                <span style="font-style: italic; color: grey">{{user.profile.seller_rating}}</span>
                {% else %}
                <span style="font-style: italic; color: grey">Unrated</span>
                {% endif %}</span></small>
            <p class="card-text m-0 p-2"><i class="fas fa-home"></i> {{ user.profile.address }}</p>
            <p class="card-text m-0 p-2"><i class="fas fa-phone"></i> {{ user.profile.contact_no }}</p>
            {% if book.uploader == user %}
            <div class="buttons mt-2"><a class="btn btn-secondary" href="{% url 'book-update' book.id %}" ><i class="fas fa-pencil-alt"></i> Edit Book</a>
                <a href="{% url 'book-delete' book.id %}" class="btn btn-danger" type="submit"><i class="fas fa-trash-alt"></i> Delete Book</a></div>
            {% endif %}
        </div>
    </div>
</div>
</div>

<div class="row mt-5">
    <div class="col">
        <h1 class="pb-2">Synopsis</h1>
        <p class="p-1" style="font-size: 15px; font-style: italic;">{{ object.synopsis }}</p>
    </div>
</div>


{% endblock content %}